<div>
	<!-- PRELOADER -->
	<div class="page-loader about">
		<div class="loader">Loading...</div>
	</div>
	<!-- /PRELOADER -->


	<!-- WRAPPER -->
	<div class="wrapper">

		<!-- HERO -->
		<section id="hero" class="module-hero about" data-background="assets/images/other/about1.jpg">

			<!-- HERO TEXT -->
			<!--<div class="hero-caption">
				<div class="hero-text">
					<h1 class="hero-title">Creative Agency</h1>
					<p class="hero-subtitle font-serif m-t-40">A collection of textile samples lay spread out on the table – Samsa was a travelling<br> salesman – and above it there hung a picture that he had recently cut.</p>
					<a href="#portfolio" class="btn btn-dark anim-scroll">More</a>
				</div>
			</div>-->
			<!-- /HERO TEXT -->

		</section>
		<!-- /HERO -->

		<!-- SERVICES -->
		<section class="module">
			<div class="container-fluid container-custom">

				<!-- MODULE TITLE -->
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h2 class="module-title font-alt">Services</h2>
						<p class="module-subtitle">I have always dreamt of pursuing my career and fulfilling my goals in life driven by my passion. <br/>There is nothing more
							satisfying to me than providing photographs and designs that can make someone relate to, be it through Joy, Pain or
							simply Pride </p>
					</div>
				</div>
				<!-- /MODULE TITLE -->

				<!--<div class="row">
					<div class="col-sm-12">
						<div class="text-center m-b-60">
							<img src="assets/images/notebooks.jpg" alt="">
						</div>
					</div>
				</div>-->

<!-- COUNTERS -->
		<section class="module bg-dark-30" data-background="assets/images/other/about2.jpg">
			<div class="container-fluid container-custom">

				<div class="row">


<div class="col-sm-7 col-sm-offset-3 text-centered">
	
	<p> <h2><b>I am Bashir Bou Raffoul.<b/></h2>
	<br\> Photographer & Graphic Designer. Graduated from the Lebanese University - Institute of Fine Arts.<br/> Proudly worked with international companies. Looking forward to be working with You.
</p>
					
					</div>

					<!-- COUNTER -->
					<!--<div class="col-md-3">
						<div class="counter about text-light">
							<div class="counter-icon">
								<span class="icon-trophy"></span>
							</div>
							<div class="counter-header">
								<h4 class="counter-title">
									<span class="counter-timer" data-from="0" data-to="124">0</span>
								</h4>
							</div>
							<div class="counter-content">
								<h6>Awards Won</h6>
							</div>
						</div>
					</div>-->
					<!-- /COUNTER -->

					<!-- COUNTER -->
					<!--<div class="col-md-3">
						<div class="counter about text-light">
							<div class="counter-icon">
								<span class="icon-tools"></span>
							</div>
							<div class="counter-header">
								<h4 class="counter-title">
									<span class="counter-timer" data-from="0" data-to="4221">0</span>
								</h4>
							</div>
							<div class="counter-content">
								<h6>Lines of Code</h6>
							</div>
						</div>
					</div>-->
					<!-- /COUNTER -->

					<!-- COUNTER -->
					<!--<div class="col-md-3">
						<div class="counter about text-light">
							<div class="counter-icon">
								<span class="icon-mobile"></span>
							</div>
							<div class="counter-header">
								<h4 class="counter-title">
									<span class="counter-timer" data-from="0" data-to="15">0</span>
								</h4>
							</div>
							<div class="counter-content">
								<h6>Themes Done</h6>
							</div>
						</div>
					</div>-->
					<!-- /COUNTER -->

					<!-- COUNTER -->
					<!--<div class="col-md-3">
						<div class="counter about text-light">
							<div class="counter-icon">
								<span class="icon-pictures"></span>
							</div>
							<div class="counter-header">
								<h4 class="counter-title">
									<span class="counter-timer" data-from="0" data-to="249">0</span>
								</h4>
							</div>
							<div class="counter-content">
								<h6>Photos Made</h6>
							</div>
						</div>
					</div>-->
					<!-- /COUNTER -->

				</div>

			</div>
		</section>
		<!-- /COUNTERS -->

				<div class="row multi-columns-row">


					<!-- ICONBOX -->
					<div class="col-sm-3 col-md-3 col-lg-3 col-sm-offset-3">
						<div class="iconbox">
							<div class="iconbox-icon">
								<span class=" icon-camera"></span>
							</div>
							<div class="iconbox-header">
								<h4 class="iconbox-title font-alt">Photography</h4>
							</div>
							<div class="iconbox-content">
								<p>What i love about photography is that it documents real life from a different angles and perceptions. It communicates  the words and the images of the soul. The ability to provide people with memories is a perfect gift.
Besides personal photography, I do product photography and am proud to give it a real feel.</p>
							</div>
						</div>
					</div>
					<!-- /ICONBOX -->

					<!-- ICONBOX -->
					<div class="col-sm-3 col-md-3 col-lg-3">
						<div class="iconbox">
							<div class="iconbox-icon">
								<span class=" icon-tools"></span>
							</div>
							<div class="iconbox-header">
								<h4 class="iconbox-title font-alt">Graphic</h4>
							</div>
							<div class="iconbox-content">
								<p>An experienced, Graphic, Brand and Digital designer providing un-paralleled Quality, Creativity and Service to clients. The knowledge, skills, creativity, expertise and talent are the tools of my craft. 
Listen. Learn. Think. Create. Deliver.</p>
							</div>
						</div>
					</div>
					<!-- /ICONBOX -->


				</div>

			</div>
		</section>
		<!-- /SERVICES -->
		
		<!-- TESTIMONIALS -->
		<!--<section class="module">
			<div class="container-fluid container-custom">-->

				<!-- MODULE TITLE -->
				<!--<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h2 class="module-title font-alt">Client reviews</h2>
					</div>
				</div>-->
				<!-- /MODULE TITLE -->

				<!--<div class="row">-->

					<!--<div class="col-sm-8 col-sm-offset-2">-->

						<!-- TESTIMONIALS CAROUSEL -->
						<!--<div class="owl-carousel slider-reviews about">-->

							<!-- TESTIMONIAL -->
							<!--<blockquote class="testimonial font-serif">
								When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove
								<cite class="font-alt">
									<img src="https://s3.amazonaws.com/uifaces/faces/twitter/ryanbattles/128.jpg" alt="">
									John Doe
								</cite>
							</blockquote>-->
							<!-- /TESTIMONIAL -->

							<!-- TESTIMONIAL -->
							<!--<blockquote class="testimonial font-serif">
								When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove
								<cite class="font-alt">
									<img src="https://s3.amazonaws.com/uifaces/faces/twitter/draganbabic/128.jpg" alt="">
									Mark Stone
								</cite>
							</blockquote>-->
							<!-- /TESTIMONIAL -->

						<!--</div>-->
						<!-- /TESTIMONIALS CAROUSEL -->

					<!--</div>-->

				<!--</div>-->
<!--
			</div>
		</section>-->
		<!-- /TESTIMONIALS -->

		<!-- CLIENTS -->
		<section class="module-sm bg-gray">
			<div class="container-fluid container-custom">

				<div class="row">

					<!-- Owl-carousel start -->
					<div class="slider-clients about owl-carousel text-center">

						<!-- Client logo start -->
						<div class="owl-item">
							<div class="col-sm-12">
								<div class="client-item">
									<img src="assets/images/Clients/client-1.jpg" alt="">
								</div>
							</div>
						</div>
						<!--  Client logo end -->

						<!-- Client logo start -->
						<div class="owl-item">
							<div class="col-sm-12">
								<div class="client-item">
									<img src="assets/images/Clients/client-2.jpg" alt="">
								</div>
							</div>
						</div>
						<!--  Client logo end -->

						<!-- Client logo start -->
						<div class="owl-item">
							<div class="col-sm-12">
								<div class="client-item">
									<img src="assets/images/Clients/client-3.jpg" alt="">
								</div>
							</div>
						</div>
						<!--  Client logo end -->

						<!-- Client logo start -->
						<div class="owl-item">
							<div class="col-sm-12">
								<div class="client-item">
									<img src="assets/images/Clients/client-4.jpg" alt="">
								</div>
							</div>
						</div>
						<!--  Client logo end -->

						<!-- Client logo start -->
						<div class="owl-item">
							<div class="col-sm-12">
								<div class="client-item">
									<img src="assets/images/Clients/client-5.jpg" alt="">
								</div>
							</div>
						</div>
						<!--  Client logo end -->

						<!-- Client logo start -->
						<div class="owl-item">
							<div class="col-sm-12">
								<div class="client-item">
									<img src="assets/images/Clients/client-6.jpg" alt="">
								</div>
							</div>
						</div>
						<!--  Client logo end -->

						<!-- Client logo start -->
						<div class="owl-item">
							<div class="col-sm-12">
								<div class="client-item">
									<img src="assets/images/Clients/client-7.jpg" alt="">
								</div>
							</div>
						</div>
						<!--  Client logo end -->

						<!-- Client logo start -->
						<div class="owl-item">
							<div class="col-sm-12">
								<div class="client-item">
									<img src="assets/images/Clients/client-8.jpg" alt="">
								</div>
							</div>
						</div>
						<!--  Client logo end -->

						<!-- Client logo start -->
						<div class="owl-item">
							<div class="col-sm-12">
								<div class="client-item">
									<img src="assets/images/Clients/client-9.jpg" alt="">
								</div>
							</div>
						</div>
						<!--  Client logo end -->

	<!-- Client logo start -->
						<div class="owl-item">
							<div class="col-sm-12">
								<div class="client-item">
									<img src="assets/images/Clients/client-10.jpg" alt="">
								</div>
							</div>
						</div>
						<!--  Client logo end -->

							<!-- Client logo start -->
						<div class="owl-item">
							<div class="col-sm-12">
								<div class="client-item">
									<img src="assets/images/Clients/client-11.jpg" alt="">
								</div>
							</div>
						</div>
						<!--  Client logo end -->

							<!-- Client logo start -->
						<div class="owl-item">
							<div class="col-sm-12">
								<div class="client-item">
									<img src="assets/images/Clients/client-12.jpg" alt="">
								</div>
							</div>
						</div>
						<!--  Client logo end -->

							<!-- Client logo start -->
						<div class="owl-item">
							<div class="col-sm-12">
								<div class="client-item">
									<img src="assets/images/Clients/client-13.jpg" alt="">
								</div>
							</div>
						</div>
						<!--  Client logo end -->
					</div>
					<!-- Owl-carousel end -->

				</div>

			</div>
		</section>
		<!-- /CLIENTS -->

		<!--<hr class="divider">-->

		<!-- FOOTER -->

		<footer class="footer module-overlay-dark-3">
			<div class="container-fluid container-custom">

				<!--<div class="row">
					<div class="col-sm-12">
						<ul class="contact-info font-alt">
							<li><a href="#">themes@domain.com</a></li>
							<li><a href="#">+(384) 123 4567 891</a></li>
							<li><a href="#">007 STEET, CITY, USA</a></li>
						</ul>
						<div class="copyright text-center font-alt">
							© 2015 <a href="#">Stone</a>, All Rights Reserved.
						</div>
					</div>
				</div>-->

				<!-- SCROLLTOP -->
				<a class="to-top-link" href="#top">
					<i class="fa fa-angle-up"></i>
				</a>

			</div>
		</footer>

		<!-- /FOOTER -->

	</div>
	<!-- /WRAPPER -->
</div>

<script src="js/aboutCtrl.js"></script>