

	<!-- PRELOADER -->
	<div class="page-loader">
		<div class="loader">Loading...</div>
	</div>
	<!-- /PRELOADER -->

		<!-- SIDEBAR -->
	<div class="sidebar">

		<nav class="navbar navbar-custom font-alt">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
		
				<!-- YOU LOGO HERE -->
				<a class="navbar-brand" href="index.html">
					<!-- IMAGE OR SIMPLE TEXT -->
					<img class="light-logo" src="assets/images/logo-light.png" width="95" alt="img">
				</a>
			</div>
		
			<div class="collapse navbar-collapse" id="custom-collapse">
		
				<ul class="nav navbar-nav">

					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About</a></li>
		
		
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="portfolio-gutter-3.html">PHOTOGRAPHY</a></li>
							<li><a href="portfolio-gutter-3.html">GRAPHIC DESIGN</a></li>
						</ul>
					</li>
		
					<li><a href="portfolio-gutter-4.html">Clients</a></li>
		
					<li><a href="contact.html">Contact</a></li>
		
				</ul>
			</div>
		
		</nav>
		
		<!-- SOCIAL LINKS -->
		<div class="copyright">
			<div class="social-icons m-b-20">
				<a href="#" target="_blank" class="fa fa-facebook facebook"></a>
				<a href="#" target="_blank" class="fa fa-twitter twitter"></a>
				<a href="#" target="_blank" class="fa fa-instagram instagram"></a>
			</div>
		
			<p>© 2017 Bashir Bou Raffoul</p>
		</div>
		<!-- /SOCIAL LINKS -->

	</div>
	<!-- /SIDEBAR -->

	<!-- WRAPPER -->
	<div class="wrapper">

		<!-- HERO -->
		<section id="hero" class="module-hero client bg-dark-30 js-fullheight" data-background="assets/images/module-1.jpg">

			<!-- HERO TEXT -->
			<div class="hero-caption">
				<div class="hero-text">
					<h6 class="m-b-30">Photo-a-day by</h6>
					<h1 class="m-b-30">Andrew Stone</h1>
					<h6 class="m-b-60">Creative Wedding Photographer</h6>
					<a href="#portfolio" class="btn btn-dark anim-scroll">Learn More</a>
				</div>
			</div>
			<!-- /HERO TEXT -->

		</section>
		<!-- /HERO -->

		<!-- PORTFOLIO -->
		<section id="portfolio" class="module-sm">
			<div class="container-fluid">

				<!-- FILTERS -->
				<div class="row">
					<div class="col-sm-12">
						<ul id="filters" class="filters client font-alt">
							<li><a href="#" class="current" data-filter="*">All</a></li>
							<li><a href="#" data-filter=".fashion">Fashion</a></li>
							<li><a href="#" data-filter=".travel">Travel</a></li>
							<li><a href="#" data-filter=".music">Music</a></li>
							<li><a href="#" data-filter=".video">Video</a></li>
						</ul>
					</div>
				</div>
				<!-- /FILTERS -->

				<div class="works-grid-wrapper">

					<!-- Portfolio 4 col + gutter -->
					<div id="works-grid" class="works-grid works-grid-gutter">

						<!-- PORTFOLIO ITEM -->
						<article class="work-item travel video">
							<div class="work-wrapper">
								<div class="work-thumbnail">
									<img src="assets/images/portfolio-1.jpg" alt="img">
								</div>
								<div class="work-caption">
									<h3 class="work-title font-alt">Montures</h3>
									<span class="work-category font-serif"><a href="#">Travel, Video</a></span>
								</div>
								<a href="portfolio-single-1.html" class="work-link"></a>
							</div>
						</article>
						<!-- /PORTFOLIO ITEM -->

						<!-- PORTFOLIO ITEM -->
						<article class="work-item fashion">
							<div class="work-wrapper">
								<div class="work-thumbnail">
									<img src="assets/images/portfolio-8.jpg" alt="img">
								</div>
								<div class="work-caption">
									<h3 class="work-title font-alt">Rambler & Co</h3>
									<span class="work-category font-serif"><a href="#">Fashion</a></span>
								</div>
								<a href="portfolio-single-1.html" class="work-link"></a>
							</div>
						</article>
						<!-- /PORTFOLIO ITEM -->

						<!-- PORTFOLIO ITEM -->
						<article class="work-item music">
							<div class="work-wrapper">
								<div class="work-thumbnail">
									<img src="assets/images/portfolio-2.jpg" alt="img">
								</div>
								<div class="work-caption">
									<h3 class="work-title font-alt">Pink Lips</h3>
									<span class="work-category font-serif"><a href="#">Music</a></span>
								</div>
								<a href="portfolio-single-1.html" class="work-link"></a>
							</div>
						</article>
						<!-- /PORTFOLIO ITEM -->

						<!-- PORTFOLIO ITEM -->
						<article class="work-item fashion">
							<div class="work-wrapper">
								<div class="work-thumbnail">
									<img src="assets/images/portfolio-3.jpg" alt="img">
								</div>
								<div class="work-caption">
									<h3 class="work-title font-alt">Brother</h3>
									<span class="work-category font-serif"><a href="#">Fashion</a></span>
								</div>
								<a href="portfolio-single-1.html" class="work-link"></a>
							</div>
						</article>
						<!-- /PORTFOLIO ITEM -->

						<!-- PORTFOLIO ITEM -->
						<article class="work-item travel">
							<div class="work-wrapper">
								<div class="work-thumbnail">
									<img src="assets/images/portfolio-4.jpg" alt="img">
								</div>
								<div class="work-caption">
									<h3 class="work-title font-alt">Travel Bags</h3>
									<span class="work-category font-serif"><a href="#">Travel</a></span>
								</div>
								<a href="portfolio-single-1.html" class="work-link"></a>
							</div>
						</article>
						<!-- /PORTFOLIO ITEM -->

						<!-- PORTFOLIO ITEM -->
						<article class="work-item music">
							<div class="work-wrapper">
								<div class="work-thumbnail">
									<img src="assets/images/portfolio-5.jpg" alt="img">
								</div>
								<div class="work-caption">
									<h3 class="work-title font-alt">Workshop</h3>
									<span class="work-category font-serif"><a href="#">Music</a></span>
								</div>
								<a href="portfolio-single-1.html" class="work-link"></a>
							</div>
						</article>
						<!-- /PORTFOLIO ITEM -->

						<!-- PORTFOLIO ITEM -->
						<article class="work-item travel">
							<div class="work-wrapper">
								<div class="work-thumbnail">
									<img src="assets/images/portfolio-6.jpg" alt="img">
								</div>
								<div class="work-caption">
									<h3 class="work-title font-alt">The Handkerchief</h3>
									<span class="work-category font-serif"><a href="#">Travel</a></span>
								</div>
								<a href="portfolio-single-1.html" class="work-link"></a>
							</div>
						</article>
						<!-- /PORTFOLIO ITEM -->

						<!-- PORTFOLIO ITEM -->
						<article class="work-item fashion">
							<div class="work-wrapper">
								<div class="work-thumbnail">
									<img src="assets/images/portfolio-7.jpg" alt="img">
								</div>
								<div class="work-caption">
									<h3 class="work-title font-alt">Architecture</h3>
									<span class="work-category font-serif"><a href="#">Fashion</a></span>
								</div>
								<a href="portfolio-single-1.html" class="work-link"></a>
							</div>
						</article>
						<!-- /PORTFOLIO ITEM -->

					</div>

				</div><!-- works-grid-wrapper -->

			

			</div>
		</section>
		<!-- /PORTFOLIO -->

		<hr class="divider">

		<!-- FOOTER -->

		<footer class="footer module-overlay-dark-3">
			<div class="container-fluid container-custom">
		
				<div class="row">
					<div class="col-sm-12">
						<ul class="contact-info font-alt">
							<li><a href="#">themes@domain.com</a></li>
							<li><a href="#">+(384) 123 4567 891</a></li>
							<li><a href="#">007 STEET, CITY, USA</a></li>
						</ul>
						<div class="copyright text-center font-alt">
							© 2015 <a href="#">Stone</a>, All Rights Reserved.
						</div>
					</div>
				</div>
		
				<!-- SCROLLTOP -->
				<a class="to-top-link" href="#top">
					<i class="fa fa-angle-up"></i>
				</a>
		
			</div>
		</footer>

		<!-- /FOOTER -->

	</div>
	<!-- /WRAPPER -->
			<script src="js/clientCtrl.js"></script>
