	
	<!-- PRELOADER -->
	<div class="page-loader contact">
		<div class="loader">Loading...</div>
	</div>
	<!-- /PRELOADER -->

	<div class="wrapper">

	

	<!-- HERO -->
		<section id="hero" class="module-hero contact" data-background="assets/images/other/contact1.jpg">
		</section>
		<!-- /HERO -->

	

		<!-- CONTACT -->
		<section class="module">
			<div class="container-fluid container-custom">

				<!-- MODULE TITLE -->
				<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h2 class="module-title font-alt">Let’s talk</h2>
						<p class="module-subtitle">A collection of textile samples lay spread out on the table – Samsa was a travelling salesman – and above it there hung a picture that he had recently cut.</p>
					</div>
				</div>
				<!-- /MODULE TITLE -->

				<div class="row">

					<div class="col-sm-8">

						<form id="contact-form" role="form" novalidate>
							<div class="form-group">
								<label class="sr-only" for="cname">Name</label>
								<input type="text" id="name" class="form-control" name="cname" placeholder="Name*" required="" data-validation-required-message="Please enter your name.">
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<label class="sr-only" for="cemail">Your Email</label>
								<input type="email" id="email" name="cemail" class="form-control" placeholder="Your E-mail*" required="" data-validation-required-message="Please enter your email address.">
								<p class="help-block text-danger"></p>
							</div>
							<div class="form-group">
								<textarea class="form-control" id="message" name="cmessage" rows="7" placeholder="Message*" required="" data-validation-required-message="Please enter your message."></textarea>
								<p class="help-block text-danger"></p>
							</div>
							<div class="text-center">
								<button type="submit" class="btn btn-block btn-round btn-dark">Submit</button>
							</div>
						</form>

						<!-- Ajax response -->
						<div id="contact-response" class="ajax-response font-alt"></div>

					</div><!-- .col-* -->

					<div class="col-sm-4">

						<div class="iconbox iconbox-left m-t-0 m-t-sm-40">
							<div class="iconbox-icon">
								<span class="icon-megaphone"></span>
							</div>
							<div class="iconbox-header">
								<h4 class="iconbox-title font-alt">Say Hello</h4>
							</div>
							<div class="iconbox-content">
								<p>Email: bashir.bouraffoul@gmail.com<br>Phone: +961 03 176 355</p>
							</div>
						</div>

						<div class="iconbox iconbox-left">
							<div class="iconbox-icon">
								<span class="icon-map"></span>
							</div>
							<div class="iconbox-header">
								<h4 class="iconbox-title font-alt">Where to meet</h4>
							</div>
							<div class="iconbox-content">
								<p>Beirut<br>Lebanon</p>
							</div>
						</div>

					</div><!-- .col-* -->

				</div>

			</div>
		</section>
		<!-- /CONTACT -->

		<!-- GOOGLE MAP -->
		<section class="module-map">
			<!-- ADD YOUR ADDRESS HERE -->
			<div id="map" data-address="33.873821, 35.535736"></div>
		</section>
		<!-- /GOOGLE MAP -->
		
		<hr class="divider">

		<!-- FOOTER -->

		<footer class="footer module-overlay-dark-3">
			<div class="container-fluid container-custom">
		
			<div class="row">
					<div class="col-sm-12">
						<ul class="contact-info font-alt">
							<li><a href="mailto:bashir.bouraffoul@gmail.com">bashir.bouraffoul@gmail.com</a></li>
							<li><a>+(961) 03 176 355</a></li>
							<li><a>Beirut , Lebanon</a><</li>
						</ul>
						<div class="copyright text-center font-alt">
							© 2017 <a href="mailto:bashir.bouraffoul@gmail.com">Bashir Bou Raffoul</a>
						</div>
					</div>
				</div>
		
				<!-- SCROLLTOP -->
				<a class="to-top-link" href="#top">
					<i class="fa fa-angle-up"></i>
				</a>
		
			</div>
		</footer>

		<!-- /FOOTER -->

	</div>
			<script src="js/contactCtrl.js"></script>
	<script src="assets/js/contact.js"></script>
