	<div>
	   
	   <div  class="wrapper">
	
	<!-- HERO -->
		<section id="hero" class="module-hero home js-fullheight">
			<div id="slides">

				<ul id="sliderContainerHome" class="slides-container">

					<li class="bg-light">
						<img src="assets/images/other/home4.jpg" alt="img">

						<!-- HERO TEXT -->
						<div class="hero-caption">
							<div class="hero-text">
								<!--<h6 class="m-b-30">Photo-a-day by</h6>-->
								<h1 class="m-b-30">Product Shots</h1>
								<h6 class="m-b-60">Your product will look better</h6>
								<a href="#portfolio"  data-filter=".product" class="btn btn-dark anim-scroll anim-scrollhome">More</a>
							</div>
						</div>
						<!-- /HERO TEXT -->
					</li>

					<li class="bg-dark-30">
						<img src="assets/images/other/home2.jpg" alt="img">

						<!-- HERO TEXT -->
						<div class="hero-caption">
							<div class="hero-text">
								<!--<h6 class="m-b-30">We create a style</h6>-->
								<h1 class="m-b-30">I Shoot People</h1>
								<h6 class="m-b-60">if you love someone hire me to shoot them</h6>
								<a href="#portfolio"  data-filter=".people" class="btn btn-dark anim-scroll anim-scrollhome">More</a>
							</div>
						</div>
						<!-- /HERO TEXT -->
					</li>

					<li class="bg-dark-30">
						<img src="assets/images/other/home3.jpg" alt="img">

						<!-- HERO TEXT -->
						<div class="hero-caption">
							<div class="hero-text">
								<!--<h6 class="m-b-30">Mary and James</h6>-->
								<h1 class="m-b-30">Graphic Design</h1>
								<h6 class="m-b-60">BE <b>BOLD</b> OR <i>ITALIC</i>. NEVER REGULAR</h6>
								<a href="#portfolio"data-filter=".other"class="btn btn-dark anim-scroll anim-scrollhome">More</a>
							</div>
						</div>
						<!-- /HERO TEXT -->
					</li>

				</ul>

				<nav class="slides-navigation">
					<a href="#" class="next"><i class="fa fa-angle-right"></i></a>
					<a href="#" class="prev"><i class="fa fa-angle-left"></i></a>
				</nav>

			</div>
		</section>
		<!-- /HERO -->
		<!-- PORTFOLIO -->
		<section id="portfolio" class="module-sm">
			<div class="container-fluid">

				<!-- FILTERS -->
				<div class="row">
					<div class="col-sm-12">
						<ul id="filters" class="filters home font-alt">
							<li><a href="#" class="current allHome" data-filter="*">All</a></li>
							<li><a href="#" class="productHome" data-filter=".product">Product</a></li>
							<li><a href="#" class="peopleHome" data-filter=".people">People</a></li>
							<li><a href="#" class="otherHome" data-filter=".other">Other</a></li>
						</ul>
					</div>
				</div>
				<!-- /FILTERS -->

				<div class="works-grid-wrapper">


					<div id="works-grid" class="works-grid home works-grid-gutter">

					
						
					</div>
				</div><!-- works-grid-wrapper -->

				<!-- SHOW MORE -->
				<div class="row">
					<div class="col-sm-12">

						<div class="m-t-70 text-center">
							<!--<input id="moreHomeClicked" type="button" class="btn btn-dark ">-->
							 <a class="btn btn-dark" href="#photographypage:moreclicked">More</a>
						</div>

					</div>
				</div>
				<!-- /SHOW MORE -->

			</div>
		</section>
		<!-- /PORTFOLIO -->

		<hr class="divider">

		<!-- FOOTER -->

		<footer class="footer module-overlay-dark-3">
			<div class="container-fluid container-custom">
		
				<div class="row">
					<div class="col-sm-12">
						<ul class="contact-info font-alt">
							<li><a href="#">contact@bashirbouraffoul.com</a></li>
							<li><a href="#">+(961) 3 176 355</a></li>
						</ul>
						<div class="copyright text-center font-alt">
							© 2017 <a href="#">Bashir Bou Raffoul</a>
						</div>
					</div>
				</div>
		
				<!-- SCROLLTOP -->
				<a class="to-top-link" href="#top">
					<i class="fa fa-angle-up"></i>
				</a>
		
			</div>
		</footer>

		<!-- /FOOTER -->

	</div>
	<!-- /WRAPPER -->
	</div>	

		<script src="js/homeCtrl.js"></script>
